/* Shopping Cart.html -  styles---------*/
/* cart styles cards left side */
/* .container{
    /* background-color: red;
} */

.cart-product {
    position: relative;
    display: flex;
    align-items: flex-start;
    /* background-color: #e6e6e6ee; Color de fondo del card */
    padding: 15px; /* Espaciado interno del card */
    /* size things */
    width: 100%;
}
/* Estilos de la imagen container cards */
.image-container {
    width: 200px;
    height: 200px;
    overflow: hidden; /*Para que la imagen no salga del div*/
    /* margenes */
    margin-right: 4.5%;
    margin-left: 4.5%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-body {
    border-left: 1px solid #dee1e5;
    padding: 0;
    padding-left: 10px;
    flex-grow: 1; /* Ocupa el espacio disponible */
    font-size: 15px;
}

.edit{
    text-decoration: underline;
}
.edit:hover{
    text-decoration: none;
    color: black;
}

.product-price {
    text-align: right; /* Alinea el precio a la derecha */
    flex-basis: 100px;
}

/* Propiedades del nombre del producto en mi carrito*/
.cart-product h4 {
    margin-bottom: 23px;
    font-size: 20px;
    /* border: solid 1px red; */
}

/* Trash can icon */
.trash-icon-container {
    position: absolute; /* Posicionamiento absoluto respecto a su contenedor más cercano con posición relativa/absoluta */
    bottom: 15px; /* Distancia desde la parte inferior del contenedor */
    right: 15px; /* Distancia desde la parte izquierda del contenedor */
}
  
.trash-icon {
    display: flex; /* Asegura que el ícono y el texto estén alineados correctamente si es necesario */
    align-items: center; /* Alineación vertical */
    color: rgb(19, 19, 19);
}
.trash-icon:hover {
    color: rgb(71, 71, 71);
}

.material-symbols-outlined {
    font-size: 24px; /* Tamaño del ícono */
}

.container{
    margin-top: 0;
}

/* THIRD CARD (resume)*/
.card-tres .media-body{
    position: relative;
}

.media-body h4{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.card-tres {
    margin-top: 0;
    border: none !important; /* Borde del card */
    width: 100%;
}

/* Acomodar Subtotal and shippog */
.price-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px; /* Ajusta según sea necesario para el espaciado vertical */
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bolder;
}

.value {
    text-align: right;
}

.btn-container-card {
    text-align: center;
}

#btn1card {
    width: 100%;
}

.btn-container-card {
    text-align: center;
}

/* TEXT YOUR SHIPPING BAG */
.text{
    margin-top: 130px;
    margin-left: 6%;
    margin-bottom: 15px;
    font-size: 26px;
}
