.custom-container {
    max-width: 100%; 
    margin-left: 0 !important; 
    margin-right: 0 !important;
}

/* Eliminar los paddings internos de las columnas de Bootstrap */
.custom-container .row > [class^='col-'] {
padding-left: 0 !important; 
padding-right: 0 !important; 
}

/* Estilos para las tarjetas de los productos */
.cart-product {
    margin-bottom: 0; /* Elimina el margen inferior para evitar espacio extra entre las tarjetas */
}

/* Centrar la imagen en la tarjeta y ajustar el tamaño del contenedor de la imagen */
.image-container {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    width: 100%; 
    height: auto; /*mantener la proporción */
    overflow: hidden;
    margin: 0; /* Eliminar margenes para centrar */
}

/* Estilo para las imágenes dentro de los contenedores de imágenes */
.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Estilo para la info */
.card-tres {
    padding: 15px;
    border: none !important; /* Borde del card */
    margin-left: 30px;
}


/* TEXT YOUR SHIPPING BAG */
.text{
    margin-top: 130px; 
}

.btn-container-card {
    display: flex;
    align-items: center;
}

#btn1card {
    width: 60%;
}

.sizes {
    margin-top: 50px; /* Ajusta según necesites */
    font-size: 14px;
}
  
.size-buttons {
    display: flex;
    justify-content: start;
    margin-bottom: 15px; 
}
  
.size-btn {
    background-color: #E7E7E7;
    border: none;
    margin-right: 6px; /* Espacio entre botones */
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.size-btn.active {
    background-color: #232323;
    color: #fff;
}
  
.size-btn:hover {
    background-color: #E2DCC9;
    color: black;
}
  
.product-actions {
    display: flex;
    align-items: center;
    justify-content: start; /* Cambiado a 'start' para evitar que los botones se separen */
    margin-top: 40px;
}
  
.btn-add-to-bag, .btn-favorite {
    padding: 6px 10px; /* Reducido para disminuir la altura */
    font-size: 16px; /* Tamaño del texto */
    vertical-align: middle;
    border-radius: 2px; /* Añade un radio de borde si lo deseas */
    margin-right: 5px; /* Espacio entre botones, ajusta según necesidad */
}

.btn-favorite {
    /* background-color: #E7E7E7; */
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: none;
    height: 40px; /* Reducido para hacer el botón más pequeño */
    padding: 0; /* El padding se puede eliminar si la altura está definida */
}

.material-symbols-outlined {
    font-size: 24px; /* Tamaño del ícono */
}

.btn-add-to-bag:hover {
    background-color: #333;
}

.btn-favorite:hover {
    color: black;
    background-color: #E2DCC9;
}

.product-info-tabs {
    display: flex;
    align-items: flex-end; /* Alinea los títulos de las pestañas en la parte inferior */
    gap: 30px; /* Espacio entre las pestañas */
  }
  
.tab-title {
    margin: 0;
    padding-bottom: 5px; /* Espacio entre el título y la línea subrayada */
    border-bottom: 2px solid transparent; /* Borde invisible por defecto */
    cursor: pointer; /* Cambia el cursor a un puntero para indicar que es clickeable */
    font-weight: bold;
}

.tab-title.active {
    border-bottom: 2px solid black; /* La pestaña activa tiene una línea subrayada */
}

  
