<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PROYECTO</title>
    
        <link rel="stylesheet" href="style.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/c02587f227.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- NAVEGADOR -->
        <!-- BARRA DE NAVEGACIÓN -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../views/home.html">
                    <img src="../views/kirby3.png" alt="Logo" width="50" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../views/home.html">Inicio</a>
                        </li>
                        <form class="d-flex ms-auto">
                            <input class="form-control me-2" type="text" placeholder="Search">
                            <button class="btn btn-primary bg-transparent border-success text-success" type="button">Search</button>
                        </form>
                    </ul>
                    <!-- Button to Open the Modal -->
                    <button type="button" class="transparent-button" data-bs-toggle="modal" data-bs-target="#myModal">
                        <i class="fa-solid fa-user"></i>Ingresar
                    </button>
                    
                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Iniciar sesión</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="/action_page.php">
                                        <label for="email" class="form-label">Correo:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Ingresa correo" required>
                                            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                        </div>
                                        <br>
                                        <label for="pwd" class="form-label">Contraseña:</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" placeholder="Ingresa contraseña" required>
                                            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                        </div>
                                        <br>
                                        <div class="form-check mb-3">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="remember"> Recordar
                                            </label>
                                        </div>
                                        <div style="text-align: center;">
                                            <button type="submit" class="btn btn-primary">Login</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <p>¿No tienes cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#registroModal">Regístrate aquí</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal de registro -->
                    <div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="registroModalLabel">Registro</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/registro.php" method="POST">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" placeholder="Nombre" name="nombre" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" placeholder="Apellido" name="apellido" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <input type="email" class="form-control" placeholder="Correo electrónico" name="email" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <input type="password" class="form-control" placeholder="Contraseña" name="contrasena" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <input type="password" class="form-control" placeholder="Confirmar contraseña" name="confirmarContrasena" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Registrar</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- The Modal Añadir al carrito -->
                    <div class="modal" id="addCartShopping">
                        <div class="modal-dialog">
                            <div class="modal-content">
                        
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">AGREGAR AL CARRITO</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                        
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <input type="number" id="quantity" value="1" min="1"><br>
                                    <br>
                                    <button id="addBtn" class="green-btn" data-bs-dismiss="modal">Confirmar</button>
                                    <button id="cancelBtn" class="red-btn" data-bs-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/shopping_cart" class="nav-link">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-8">
                <div class="media-container">
                    <div class="media border p-3">
                        <img src="Dragon_dogma_2.jpg" alt="Dragon dogma 2" class="mr-3 mt-3 rounded" style="width: 250px; height: 150px; float: right;">
                        <div class="media-body">
                            <h4><b>Dragon Dogma 2 </b><button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></h4>
                            <form action="/action_page.php" style="width: 50%; margin-left: 0;">
                                <div class="input-group">
                                    <span class="input-group-text" style="width: 100px;">Cantidad:</span>
                                    <input type="text" class="form-control" required>
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-text" style="width: 100px;">Precio:</span>
                                    <input type="text" class="form-control" required>
                                    <span class="input-group-text">MXN</span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="media border p-3">
                        <img src="Dragon_dogma_2.jpg" alt="Dragon dogma 2" class="mr-3 mt-3 rounded" style="width: 250px; height: 150px; float: right;">
                        <div class="media-body">
                            <h4><b>Dragon Dogma 2 </b><button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></h4>
                            <form action="/action_page.php" style="width: 50%; margin-left: 0;">
                                <div class="input-group">
                                    <span class="input-group-text" style="width: 100px;">Cantidad:</span>
                                    <input type="text" class="form-control" required>
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-text" style="width: 100px;">Precio:</span>
                                    <input type="text" class="form-control" required>
                                    <span class="input-group-text">MXN</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-left: -50px;">
                <div class="cardShopping">
                    <div class="card-body">
                        <h5 class="card-title"><b>TOTAL DE LA COMPRA:</b></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <b>Producto A:</b> N x Precio
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <b>Producto B:</b> N x Precio
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <b>Costo del envío:</b> $0.00 MXN
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <b>Total:</b> $99.99 MXN
                            </li>
                        </ul>
                        <div class="card-buttons">
                            <button type="button" class="btn btn-primary">Pagar</button>
                            <button type="button" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </body>
</html>
