<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    <meta charset="UTF-8" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/styles/styles.css"/>
    <link rel="stylesheet" href="/styles/style_cart.css"/>
    <link rel="stylesheet" href="/styles/style_wishlit.css"/>

    <!--  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/eb1d9912aa.js" crossorigin="anonymous"></script>

    <!-- Links a los iconos -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    
    
    <!-- MODALES  -->
    <!-- Modal log in -->
    <div class="modal fade" id="myModalLogIn" tabindex="-1" data-bs-backdrop="true" data-bs-keyboard="true" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitleId">Log in</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="loginForm" style="margin: 8px 8px">
              Email:
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Your Email" id="loginEmail" name="email" required>
                <span class="input-group-text"><i class="fa-solid fa-envelope" style="color: #464646"></i></span>
              </div>
              Password:
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Your Password" id="loginPassword" required>
                <span class="input-group-text"><i class="fa-solid fa-key" style="color: #464646"></i></span>
              </div>
              <div class="form-check mb-3">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="rememberMe" name="remember">
                  Remember me
                </label>
              </div>
              <div id="btn_submit_modal">
              <button type="submit" class="btn btn-success" style="background-color: #aaa596; border: none;">Submit</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <h5 id="text">
              You don't have an account?
              <a
                id="text_sign_up"
                data-bs-toggle="modal"
                data-bs-target="#myModalSignUp"
                role="button"
                >Sign up here</a
              >
            </h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal sign up-->
    <div class="modal fade" id="myModalSignUp" tabindex="-1" aria-labelledby="modalTitleId" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitleId">Sign Up</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="signupForm">
              <!-- Nombre y apellidos en la misma fila -->
              <div class="row mb-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Name" id="name" />
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Surname" id="surname" />
                </div>
              </div>
              <!-- Email -->
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-envelope" style="color: #464646"></i></span>
                <input type="email" class="form-control" placeholder="Your Email" id="email" />
              </div>
              <!-- Contraseña -->
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-key" style="color: #464646"></i></span>
                <input type="password" class="form-control" placeholder="New Password" id="password" />
              </div>
              <!-- Confirmar contraseña -->
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-key" style="color: #464646"></i></span>
                <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" form="signupForm" class="btn btn-success" style="background-color: #aaa596; border: none;">Submit</button>
          </div>
        </div>
      </div>
    </div>

  </head>
  <body>

    <!--barra de navegacion  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
          <!-- This empty div ensures that the flexbox space-between property pushes the logo to the center -->
          <!-- <div></div> -->
          <div class="w-25 px-5">
            <a class="navbar-brand mx-auto" href="/home">
                <img src="https://www.brandemia.org/wp-content/uploads/2011/09/logo_nike_principal.jpg" alt="Icono">
            </a>
          </div>
          <div class="container-fluid w-50">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ms-auto me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/products">MEN</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/products">WOMEN</a>
                    </li>
                </ul>
            </div>
        </div>
          <div class="d-flex iconos w-25">
              <a id="log_in" class="nav-link" style="width: 50px;">
                  Log in
              </a>
              <a id="profile_link" class="nav-link" style="width: 50px; display: none;" data-bs-toggle="modal" data-bs-target="#myModalShowProfile">
                Profile
              </a>
              <a href="wishlist">
                <span class="material-symbols-outlined">
                  favorite
                </span>
              </a>
              <a href="shopping_cart">
                <span class="material-symbols-outlined">
                  shopping_bag
                </span>
              </a>
          </div>
      </div>
      
    </nav>
    <!-- end nav bar -->

    <div id="titleWishlist">
      
    </div>
    <!-- cards -->
    <div class="container">
        <div class="row">
            <div class="col">
              
            </div>
            
        </div>
    </div>

    <br>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/scripts/singup_front.js"></script>
    <script src="/scripts/login_front.js"></script>
    <script src="/scripts/wishlist.js"></script>
    <script src="/scripts/cart_management.js"></script>

    

  </body>
</html>
